// process.env.NODE_ENV = "test";
{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
        // "targets": {
        //   "ie": "11"
        // }
      }
    ]
  ]
  // "plugins": [
  //   ["@babel/plugin-transform-runtime", { 
  //     "corejs": 3
  //   }]
  // ]
  // "env": {
  //   "test": {
  //     "presets": [["@babel/preset-env", { "targets": { "node": "current" } }]]
  //   }
  // }
}
